<!-- Static display of peoples site feedback  -->

<div class="container">
    <h3 class="text-center mt-4 mb-4" style="color: orange;">Our happy families.....</h3>
    <div class="row mb-2">
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-2" *ngFor="let f of feedback">
            <div style="border: 2px solid green;border-radius: 10px;">
            <div style="display: flex;justify-content: space-between;align-items: center;background-color: rgb(174, 236, 174);border-radius: 10px;">
                <div style="display: flex;justify-content: center;align-items: center;">
                    <i class="bi bi-person-circle ms-1" style="color: rgb(109, 108, 108);"></i>
                    <h5 class="mt-2 ms-2">{{f.name}}</h5>
                </div>
                <div style="display: flex;justify-content: center;align-items: center;margin-right: 10px;">
                        <i class="bi bi-star-fill" style="color: orange;" *ngFor="let s of [].constructor(f.star)"></i> 
                        <i class="bi bi-star" style="color: orange;" *ngFor="let s of [].constructor(5 - f.star)"></i> 
                </div>
            </div>
            <p class="p-1">{{f.message}}</p>
        </div>
    </div>
       
    </div>
    
</div>




