<!-- Report us page -->

<div class="container mt-3">
  <div class="row" style="display: flex;justify-content: center;align-items: center;padding: 20px;">
    <h3 class="text-center" style="color: orange;margin-top: .5rem;">Report us</h3>
      <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-6">
          <div style="padding: 30px;margin: 20px;border-radius: 10px;">
              <img class="img-responsive" src="../register-now/../../../assets/Images/wedding02.png" style="width: 300px;height: 400px;background-color: rgb(247, 196, 100);border-radius: 1rem;" class="d-block w-100" alt="...">
          </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-6" >
         
          <form [formGroup]="reportForm">
              <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Name</label>
                  <input type="email" class="form-control" formControlName="name" style="background-color: rgb(232, 232, 232);" id="exampleFormControlInput1" placeholder="name@example.com">
                  <small class="text-danger" *ngIf="reportForm.controls['name'].touched && reportForm.controls['name'].errors?.['required']">Name is required</small>
                </div>
              <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Email</label>
                  <input type="email" class="form-control" formControlName="email" style="background-color: rgb(232, 232, 232);" id="exampleFormControlInput1" placeholder="name@example.com">
                  <small class="text-danger" *ngIf="reportForm.controls['email'].touched && reportForm.controls['email'].errors?.['required']">Email is required</small>
                  <small class="text-danger" *ngIf="reportForm.controls['email'].touched && reportForm.controls['email'].errors?.['email']">Enter email in a valid format</small>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Details</label>
                  <textarea class="form-control" formControlName="details" style="background-color: rgb(232, 232, 232);" id="exampleFormControlTextarea1" rows="3"></textarea>
                  <small class="text-danger" *ngIf="reportForm.controls['details'].touched && reportForm.controls['details'].errors?.['required']">Details are required</small>
                  <small class="text-danger" *ngIf="reportForm.controls['details'].touched && reportForm.controls['details'].errors?.['maxlength']">Details must be within 150 words</small>
                </div>
                <button class="btn btn-success mt-2" (click)="onSubmit()">Send</button>
                
          </form>
      </div>
      
  </div>
</div>
<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning !</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>

      <div class="modal-body">
        Please fill all the required fields.
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="reportSuccessModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Success !</h5>
        <button type="button" class="btn-close" (click)="closeReporttSuccessModal()"></button>
      </div>

      <div class="modal-body">
        Your request has been submitted successfully.
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeReporttSuccessModal()">Close</button>
      </div>

    </div>
  </div>
</div>







