<!-- Initial image representation page -->

<div class="container-fluid d-flex justify-content-center align-items-center" [ngStyle]="{
    'background-image': 'url(../../../assets//Images/carousal-3.jpg)',
    'background-size': 'cover',
    'background-position': 'center',
    'height': '90vh',
    'position':'relative',
    'margin-top':'5rem',
    'z-index':'1'
  }">
      

      <div class="container-fluid bg-cover d-flex justify-content-center align-items-center" style="background-image: url('path_to_your_image.jpg');">
        <div class="text-white text-center p-4 bg-dark bg-opacity-50 rounded-3 w-100 w-sm-75 w-md-50">
          <h1 class="intro-heading fw-bold">Find Your Perfect Match</h1>
          <p class="intro-text">
            Welcome to <strong>Web2Wed</strong> – where tradition meets technology.<br />
        Discover profiles across globe , check compatibility, explore horoscopes, and begin your journey toward a lifetime of love.
          </p>
          <a routerLink="/search-profile" class="btn btn-clr btn-lg mt-3">Start Searching</a>
        </div>
      </div>

  </div>



