<!-- User footer content-->

<footer class="footer text-dark py-4">
    <div class="container">
      <div class="row">
  
        <div class="col-md-3">
          <h5>MatrimonySite</h5>
          <p>Your trusted partner in finding your soulmate.</p>
        </div>
  
        <div class="col-md-3">
          <h6>Quick Links</h6>
          <ul class="list-unstyled" >
            <li><a routerLink="/home" fragment="about" class="text-dark">About Us</a></li>
            <li><a routerLink="/home" fragment="contact" class="text-dark">Contact</a></li>
            <li><a routerLink="/home" fragment="report" class="text-dark">Report</a></li>
            <li><a routerLink="/privacy-policy" class="text-dark">Privacy Policy</a></li>
            <li><a routerLink="/terms-conditions" class="text-dark">Terms & Conditions</a></li>
          </ul>
        </div>
  
        <div class="col-md-3">
          <h6>Follow Us</h6>
          <div class="social-icons">
            <a href="https://facebook.com" target="_blank" class="text-dark me-2"><i class="bi bi-facebook"></i></a>
            <a href="https://instagram.com" target="_blank" class="text-dark me-2"><i class="bi bi-instagram"></i></a>
            <a href="https://twitter.com" target="_blank" class="text-dark me-2"><i class="bi bi-twitter-x"></i></a>
          </div>
        </div>
  
        <div class="col-md-3">
          <h6>Contact Us</h6>
          <p>Email: supportWeb2Wed.com</p>
          <p>Phone: +91 9900000001</p>
          <p>Address: 123 Wedding Street, India</p>
        </div>
  
      </div>
      <hr class="bg-light">
      <div class="text-center">
        &copy; {{ currentYear }} Web2wed. All rights reserved.
      </div>
    </div>
  </footer>