<!-- Profile building navigation page -->

<div class="container">
    <div class="row">
        <h3 class="text-center mt-3" style="color: orange;">Build your profile to seek matches</h3>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
            <p style="text-align: justify;">Our intuitive Profile Builder guides you through a seamless, step‑by‑step process to capture the essence of who you are—your personality traits, lifestyle preferences, aspirations, and relationship values—so you can attract the partner who truly complements you. By combining expertly designed prompts, dynamic interest tags, and optional personality quizzes, the Builder ensures every detail—from favorite pastimes and family priorities to career ambitions and long‑term goals—is thoughtfully recorded. </p>
            <p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You’re not left guessing: real‑time compatibility scores and tailored introduction tips help you understand why each match aligns with your unique profile. Whether you prefer traditional values, modern sensibilities, or a blend of both, the Profile Builder adapts to your style and pace, making onboarding effortless and empowering you to take control of your search. Transform your journey from generic browsing to intentional matchmaking, and let our Profile Builder pave the way to your perfect partnership.</p>
            <div class="btn btn-success">Build your profile</div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" >
            <div style="padding: 30px;margin: 20px;border-radius: 10px;">
                <img class="img-responsive" src="../register-now/../../../assets/Images/wedding05.webp" style="width: 300px;height: 400px;background-color: rgb(247, 196, 100);border-radius: 1rem;" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</div>
